{% extends "base.html" %}

{% block page_content %}

<h3> Functions </h3>
<ul>
<li> Anonymous users </li>
	<ul>
    <li> display alumni on US map </li>
    <li> query using alumnus name (capitalization insensitive) </li>
    <li> query with sex and class </li>
    <li> read tweet-like messages </li>
	</ul>
<li> Registered users </li>
    <ul>
    <li> view alumni names on map </li>
    <li> maintain a profile </li>
    <li> view more alumni information on their profiles </li>
    <li> change avatar: <a href='https://en.gravatar.com/' target="_blank">gravatar</a> </li>
    <li> post/like tweet-like messages </li>
    </ul>
<li> User registration is ....by hand.... for now (shoot <a href='{{ url_for('home.user', username='nos') }}'>me</a> an email). </li>
</ul>

<h3> Status </h3>
<ul>
<li> Registered users: {{ form.user_count }} </li>
</ul>

<div>
<h3> TODO </h3>
<ul class="list-group">
  <li class="list-group-item list-group-item-warning">email support</li>
  <li class="list-group-item list-group-item-info">time zone support</li>
  <li class="list-group-item list-group-item-danger">use javascript to do update</li>
</ul>
</div>
<hr>
<h4> Version 0.3 : 9.29.2016 </h4>
<h4> database Version 13 </h4>

{% endblock %}
