{% extends "base.html" %}

{% block page_content %}

<h3> Functions </h3>
<ul>
<li> Anonymous users can </li>
	<ul>
    <li> display alumni on US map </li>
    <li> query using alumnus name </li>
    <li> query with sex and class </li>
	</ul>
<li> Registered users can further </li>
    <ul>
    <li> view alumni names on map </li>
    <li> view alumni profile </li>
    <li> change avatar: <a href='https://en.gravatar.com/' target="_blank">gravatar</a> </li>
    </ul>
<li> User registration is referal only. </li>
</ul>

<div>
<h3> TODO </h3>
<ul class="list-group">
  <li class="list-group-item list-group-item-success">feedback system</li>
  <li class="list-group-item list-group-item-danger">email support</li>
  <li class="list-group-item list-group-item-success">point system</li>
</ul>
</div>

{% endblock %}
