{% extends "base.html" %}

{% block page_content %}

<h3> Functions </h3>
<ul>
<li> Anonymous users </li>
	<ul>
    <li> display alumni on US map </li>
    <li> query using alumnus name (capitalization insensitive) </li>
    <li> query with sex and class </li>
    <li> read tweet-like messages </li>
	</ul>
<li> Registered users </li>
    <ul>
    <li> view alumni names on map </li>
    <li> view more alumni information on their profiles </li>
    <li> change avatar: <a href='https://en.gravatar.com/' target="_blank">gravatar</a> </li>
    <li> post tweet-like messages </li>
    </ul>
<li> User registration is referal only. </li>
</ul>

<h3> Status </h3>
<ul>
<li> Registered users: {{ form.user_count }} </li>
</ul>

<div>
<h3> TODO </h3>
<ul class="list-group">
  <li class="list-group-item list-group-item-danger">email support</li>
  <li class="list-group-item list-group-item-success">point system</li>
</ul>
</div>
<hr>
<h4> Version 0.2 : 9.23.2016 </h4>

{% endblock %}
