{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}

<div class='row'>
    <div class='col-md-3'> 
    <label for="sex_select"> Sex = </label>
    <select id="sex_select">
      <option value="all">All</option>
      <option value="m">Male</option>
      <option value="f">Female</option>
    </select>
    </div>
    <div class='col-md-3'> 
    <label for="class_select"> Class = </label>
    <select id="class_select">
    <option value="all">All</option>
    <option value="mixed">Mixed</option>
    <option value="litart">Lit. Art</option>
    <option value="science">Science</option>
    <option value="eduexp">Edu. Exp.</option>
    </select>
    </div>
    <div class='col-md-3'> 
    <label> Head count: </label>
    <span id='count' > </span>
    </div>
    <div class='col-md-3'> 
    <input id='name' onKeyPress="search(event)" placeholder='First Last'>
    </div>
</div>

<div id='map'></div>

<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/static/test.js"></script>

<div id="disqus_thread"></div>
<script>

/**
 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
/*
var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//ckc00.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
 
{% endblock %}


