{% extends "base.html" %}

{% block page_content %}
<div class='page-header user-profile' >
    <div class='user-avatar'><img src='{{ user.gravatar(128) }}'></div>
    {% if current_user == user %}
    <a class='btn btn-default pull-right' href='{{ url_for('home.profile') }}'>Edit Profile</a>
    {% endif %}
    <h1>{{ user.username }}</h1>
    <p>
        {% if user.site %} 
        <a href='{{ user.site }}' target="_blank">{{ user.name }}</a> <br>
        {% else %}
        {{ user.name }} <br>
        {% endif %}
        Water points:
        {{ user.awards }} <br>
        {% if user.member_since %}
        Member since:
        {{ user.member_since.strftime('%Y-%m-%d') }} <br>
        {% endif %}
    </p>
</div>
{% endblock %}

