{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class='page-header user-profile' >
    <div class='user-avatar'><img src='{{ user.avatar(128) }}'></div>
    {% if current_user == user %}
    <a class='btn btn-default pull-right' href='{{ url_for('home.profile') }}'>Edit Profile</a>
    {% endif %}
    <h1>{{ user.username }}</h1>
    <p>
        {% if user.site %} 
        <a href='{{ user.site }}' target="_blank">{{ user.name }}</a> <br>
        {% else %}
        {{ user.name }} <br>
        {% endif %}
        {% if current_user.is_authenticated %}
            {% if user.email %}
            {{ user.email }} <br>
            {% endif %}
            {{ user.city }} , {{ user.state }} <br>
        {% endif %}
        Water points:
        {{ user.awards }} <br>
        {% if user.member_since %}
        Member since:
        {{ user.member_since.strftime('%m-%d-%Y') }} <br>
        {% endif %}
        {% if user.last_seen %}
        Last seen: 
        {{ user.last_seen.strftime('%m-%d-%Y') }} <br>
        {% endif %}
    </p>
</div>

{% if current_user.is_authenticated and current_user.id == user.id%}
  {{ wtf.quick_form(form, form_type='horizontal') }}
  <hr>
{% endif %}

{% include 'posts.html' %}

{% endblock %}

