
/* {outline: 1px solid red} */

.overlay {
      fill: none;
      pointer-events: all;
}

.states {
  fill: #aaa;
  stroke:#fff;
}

.state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;

}

circle {
    opacity: 0.6;
    fill: red;
    pointer-events:all;
}
circle:hover{
    fill: blue;
}

.col1, .col2, {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;  
}

.col1 {
    width: 22%;
}
.col2 {
    width: 13%;
}
.row {
    width: 100%;
    margin-bottom: 8px;
    display:flex;
}

label{
    display: inline-block; 
    width: 90px; 
    text-align: right;
}

h1 {
    text-align: center;
}

svg text{ 
    pointer.events: none;
}


