<!DOCTYPE html>
<html>
<head>
    <title> ckc00 </title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/static/style.css'>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script>
  </head>

  <body>

  <h1> ckc00er distribution  </h1>


<div class='row'>
  <div class='col1'>
    <label for="sex_select"> Sex = </label>
    <select id="sex_select" onchange="update_url()">
      <option value="all">All</option>
      <option value="m">Male</option>
      <option value="f">Female</option>
    </select>
  </div>
  <div class='col1'>
    <label for="class_select"> Class = </label>
      <select id="class_select" onchange="update_url()">
      <option value="all">All</option>
      <option value="mixed">Mixed</option>
      <option value="litart">Lit. Art</option>
      <option value="science">Science</option>
      <option value="eduexp">Edu. Exp.</option>
      </select>
    </div>
    <div id='count' class='col1'> </div>
</div>
    <script src="/static/test.js"></script>

  </body>

</html>
